@page
@model Shopping.Web.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container border p4">
    <h1>Access Denied</h1>
    <p>You do not have permission to view this page.</p>
</div>
