<ul class="navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Account/Register">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <span class="nav-link"><i class="fas fa-user-circle"></i> @Context.User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Account/Logout">Logout</a>
        </li>
    }
</ul>